.eventful-badge,
.eventful-badge * {
  /*margin: 0             !important;
  padding: 0            !important;
  border: 0             !important;*/
  text-align: center    !important;
  color: #CCC           !important;
  font-family: Arial    !important;
  text-decoration: none !important;
}

.eventful-small {
  position: relative    !important;
  width: 100px          !important;
  font-size: 11px       !important;
  line-height: 11px     !important;
}
